__pycache__/
*.pyc
.ipynb_checkpoints/
the-freuid-challenge-dataset/
external/
checkpoints/
out/
*.csv.local
report/*.aux
report/*.log
report/*.out
report/*.bbl
report/*.blg
report/*.fls
report/*.fdb_latexmk
